body {
    background-image: cover;
    background-position: center;
    background-size: cover;
}

h1 {
    text-decoration: underline;
}

ul {
text-align: left;
}

table, tr, td {
    border: 1px solid black;
  }
table {
      text-align: right;
  }
  li {
      font-size: large;
  }

  td {
      font-size: large;
  }